body {
    font-family: Times New Roman;
    background-color: thistle;
}

.container {
    text-align: center;
}

h4 {
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-weight: bolder;
}

.btn1,.btn2,.btn3 {
    width: 100px;
    height: 50px;
    margin-right: 10px;
    border-radius: 25px;
    font-size: 20px;
    transition: 0.7s;
    color: rgb(0, 0, 0);
    font-weight: 550;
    margin-top: 50px;
    font-family: 'Courier New', Courier, monospace;
    border: white;
}

/* .btn1:hover,.btn2:hover,.btn3:hover {
    color: indigo;
    }*/
    
    #start:hover,#stop:hover,
    #reset:hover {
        background-color:rgb(218, 214, 163)
    }

.digits {
        font-size: 40px;
        color: rgb(0, 0, 0);
}